/**
 * @file
 * Context Taxonomy Page admin form styles.
 */
.context-plugin-form .select-group-wrapper {
  clear: both;
  display: table;
}

.context-plugin-form .select-group-wrapper .form-item {
  float: left;
  margin-right: 1em;
}
